{
    "server": "{{ server }}",
    "server_port": 443,
    "password": "{{ password }}",
    "method": "chacha20",
    "local_address": "127.0.0.1",
    "local_port": 1080,
    "timeout": 300,
    "fast_open": false,
    "workers": 1
}